version: '3.5'
services:
  uupdump:
    build:
      context: ./
      dockerfile: ./Dockerfile
    image: ghcr.io/lizenzfass78851/uup-dump_docker:latest
    container_name: uupdump
    hostname: uupdump
    restart: always
    ports:
      - "127.0.0.1:80:44400"
    volumes:
      - packs:/uupdump/uup/packs/
      - fileinfo:/uupdump/uup/fileinfo/
    environment:
      # set timezone
        TZ: "Etc/UTC"
      # set this to search msit builds (yes or no)
        search_msit: no
      # set to get packs and fileinfo over git (0 for false, 1 for true)
        get_packs_and_fileinfo_over_git: 0
      # set the repo to get packs and fileinfo over git (the onwer must contains repos named "fileinfo" and "packs".)
        fileinfo_and_packs_repo: https://github.com/EverchangerL
      # set interval to get packs and fileinfo (e.g. 36h)
        set_interval_to_get_packs_and_fileinfo: 36h
    

volumes:
  packs:
  fileinfo:

